/*
יצירת רשימת צבעים במחלקה חלקית
כלומר נצהיר על המחלקה הנוכחית כמחלקה חלקית על ידי הסימן _
ונייבא אותה בעזרת המילה השמורה @use
*/
$pink: pink;
$black: #1234;
$blue: blue;
$yellow: yellow;
$red: red;
$green: green;
$grey: grey;
$white: white;
$purple: purple;
$orange: orange;